.navbar {
    position: sticky;
    top: 0;
    overflow: hidden;
}

body {
    padding-top: 0%;
    margin: 0;
    font-family: var(--bs-font-sans-serif);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #6b6e70 !important;
    background-color: #141414 !important;
    height: auto !important;


}


h1 {
    font-family: monospace;
    display: inline-block;
    border-right: 5px solid #00ff99; /* Cursor */
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s steps(12, end), blink .75s step-end infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink {
    from, to { border-color: transparent }
    50% { border-color: #00ff99 }
}

.dev-message {
  font-family: monospace;
  color: #00ff99; /* estilo terminal */
  font-size: 1.5rem;
}
